
<header id="header">
    <nav class="navbar">
        <ul class="nav-menu" id="nav-menu">
            <li><a href="index.html" class="nav-link"><i class="fas fa-home"></i></a></li>
            
            <li class="has-dropdown">
                <a href="gioithieu.html" class="nav-link">GIỚI THIỆU</a>
                <ul class="dropdown-list">
                    <li><a href="gioithieu.html">Tổng quan</a></li>
                    <li><a href="gioithieu/cocautochuc.html">Cơ cấu tổ chức</a></li>
                    <li><a href="gioithieu/sumenh-tamnhin.html">Sứ mệnh - Tầm nhìn</a></li>

                </ul>
            </li>

            <li class="has-dropdown">
                <a href="daotao.html" class="nav-link">ĐÀO TẠO</a>
                <ul class="dropdown-list">
                    <li><a href="gioithieu/chuongtrinhdaotao.html">Tổng quan</a></li>
                    <li><a href="daotao-daihoc.html">Đào tạo Đại học</a></li>
                    <li><a href="daotao-saudaihoc.html">Sau Đại học</a></li>
                    <li><a href="daotao-nganhan.html">Đào tạo ngắn hạn</a></li>
                </ul>
            </li>

            <li class="has-dropdown">
                <a href="tintuc.html" class="nav-link">TIN TỨC - SỰ KIỆN</a>
                <ul class="dropdown-list">
                    <li><a href="tintuc.html">Tin tức</a></li>
                    <li><a href="sukien.html">Sự kiện</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="tracuudiem.html" class="nav-link">TRA CỨU ĐIỂM</a>
                <ul class="dropdown-list">
                    <li><a href="tracuudiem.html">Tra cứu điểm</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="lienhe.html" class="nav-link">LIÊN HỆ</a>
                <ul class="dropdown-list">
                    <li><a href="lienhe.html">Liên hệ</a></li> 
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="gioithieu/sinhvien.html" class="nav-link">NHÂN LỰC</a>
                <ul class="dropdown-list">
                    <li><a href="gioithieu/sinhvien.html">Sinh viên</a></li>
                    <li><a href="gioithieu/doingugiangvien.html">Giảng viên</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="gioithieu/hoptacdoanhnghiep.html" class="nav-link">HỢP TÁC - NCKH</a>
                <ul class="dropdown-list">
                    <li><a href="gioithieu/hoptacdoanhnghiep.html">Hợp tác doanh nghiệp</a></li>
                    <li><a href="gioithieu/nghiencuukhoahoc.html">Nghiên cứu khoa học</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="https://vr360.huit.edu.vn/" class="nav-link">THAM QUAN</a>
                <ul class="dropdown-list">
                    <li><a href="https://vr360.huit.edu.vn/" target="_blank" rel="noopener noreferrer">VR 360</a></li> 
                </ul>
            </li>
        </ul>
        <div class="controls">
            
            <i class="fas fa-moon" id="theme-toggle" title="Đổi giao diện"></i>
            <div class="hamburger" id="hamburger">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
</header>