<!-- TOP BAR -->
<div class="top-bar">
    <div class="top-bar-container">
        <div class="top-info">
            <span><i class="fas fa-phone-alt"></i> (028) 3816 1673</span>
            <span><i class="fas fa-envelope"></i> khoa.cntt@huit.edu.vn</span>
        </div>
        <div class="top-links">
            <a href="#">Tuyển sinh</a>
            <a href="#">Sinh viên</a>
            <a href="#">Cựu sinh viên</a>
            <a href="#"><i class="fas fa-globe"></i> VN</a>
        </div>
    </div>
</div>
<div class="brand-section">
    <div class="brand-container">
        <div class="brand-logo">
            <a href="index.html"><img src="https://huit.edu.vn/Images/Documents/N00CT/logo-huit-web-chinh-moi-mau-xanh-02.svg?h=80" alt="Logo HUIT"></a>
            
        </div>
        <div class="brand-text">
            <p class="sub-title">BỘ CÔNG THƯƠNG</p>
            <h1 class="main-title">TRƯỜNG ĐẠI HỌC CÔNG THƯƠNG THÀNH PHỐ HỒ CHÍ MINH</h1>
        </div>
    </div>
</div>